-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: antigravity
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `affaires`
--

DROP TABLE IF EXISTS `affaires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `affaires` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `numero_prodevis` varchar(50) DEFAULT NULL,
  `nom_affaire` varchar(100) DEFAULT NULL,
  `statut` enum('Devis','SignÔö£┬«','TerminÔö£┬«') DEFAULT 'Devis',
  `chemin_dossier_ged` varchar(255) DEFAULT NULL,
  `date_pose_debut` date DEFAULT NULL,
  `date_pose_fin` date DEFAULT NULL,
  `equipe_pose` varchar(100) DEFAULT NULL,
  `statut_chantier` enum('A Planifier','Planifi├®','En Cours','Termin├®','Factur├®') DEFAULT 'A Planifier',
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_prodevis` (`numero_prodevis`),
  KEY `client_id` (`client_id`),
  CONSTRAINT `affaires_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `affaires`
--

LOCK TABLES `affaires` WRITE;
/*!40000 ALTER TABLE `affaires` DISABLE KEYS */;
INSERT INTO `affaires` VALUES (1,1,'DEV-2025-001','Maison Dupont - RÔö£┬«novation','Devis',NULL,NULL,NULL,NULL,'A Planifier');
/*!40000 ALTER TABLE `affaires` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `articles`
--

DROP TABLE IF EXISTS `articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `articles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reference_interne` varchar(50) NOT NULL,
  `designation` varchar(255) NOT NULL,
  `famille` varchar(100) DEFAULT NULL,
  `sous_famille` varchar(100) DEFAULT NULL,
  `fournisseur_prefere_id` int DEFAULT NULL,
  `ref_fournisseur` varchar(100) DEFAULT NULL,
  `prix_achat_ht` decimal(10,2) DEFAULT '0.00',
  `unite_stock` varchar(20) DEFAULT 'U',
  `poids_kg` decimal(10,3) DEFAULT '0.000',
  `longueur_barre` int DEFAULT '0',
  `couleur_ral` varchar(20) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `stock_actuel` decimal(10,2) DEFAULT '0.00',
  `seuil_alerte_stock` decimal(10,2) DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `stock_physique` decimal(10,2) DEFAULT '0.00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `reference_interne` (`reference_interne`),
  KEY `fournisseur_prefere_id` (`fournisseur_prefere_id`),
  CONSTRAINT `articles_ibfk_1` FOREIGN KEY (`fournisseur_prefere_id`) REFERENCES `fournisseurs` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articles`
--

LOCK TABLES `articles` WRITE;
/*!40000 ALTER TABLE `articles` DISABLE KEYS */;
INSERT INTO `articles` VALUES (1,'P-TEST','Profil Test 6m','PROFIL',NULL,NULL,NULL,45.00,'U',0.000,6000,NULL,'',0.00,5.00,'2025-12-24 20:27:31',-10.00),(2,'DORMANT','Dormant','PROFIL',NULL,1,NULL,10.00,'U',0.000,6000,NULL,'',0.00,5.00,'2025-12-24 23:26:45',10.00);
/*!40000 ALTER TABLE `articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `articles_catalogue`
--

DROP TABLE IF EXISTS `articles_catalogue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `articles_catalogue` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fournisseur_id` int DEFAULT NULL,
  `fabricant_id` int DEFAULT NULL,
  `sous_famille_id` int DEFAULT NULL,
  `modele_id` int DEFAULT NULL,
  `ref_fournisseur` varchar(100) DEFAULT NULL,
  `designation_commerciale` varchar(255) DEFAULT NULL,
  `tenu_en_stock` tinyint(1) DEFAULT '0',
  `type_vente` enum('BARRE','METRE','M2','PIECE','BOITE') DEFAULT 'BARRE',
  `longueur_mm` int DEFAULT '0',
  `conditionnement_qte` int DEFAULT '1',
  `poids_kg` decimal(10,3) DEFAULT NULL,
  `prix_achat_actuel` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fournisseur_id` (`fournisseur_id`),
  KEY `fabricant_id` (`fabricant_id`),
  KEY `sous_famille_id` (`sous_famille_id`),
  KEY `modele_id` (`modele_id`),
  CONSTRAINT `articles_catalogue_ibfk_1` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseurs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `articles_catalogue_ibfk_2` FOREIGN KEY (`fabricant_id`) REFERENCES `fabricants` (`id`) ON DELETE SET NULL,
  CONSTRAINT `articles_catalogue_ibfk_3` FOREIGN KEY (`sous_famille_id`) REFERENCES `sous_familles` (`id`) ON DELETE SET NULL,
  CONSTRAINT `articles_catalogue_ibfk_4` FOREIGN KEY (`modele_id`) REFERENCES `modeles_profils` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articles_catalogue`
--

LOCK TABLES `articles_catalogue` WRITE;
/*!40000 ALTER TABLE `articles_catalogue` DISABLE KEYS */;
INSERT INTO `articles_catalogue` VALUES (1,1,1,1,1,'D50-7016','Barre Dormant 50mm 7016',0,'BARRE',6500,1,NULL,NULL);
/*!40000 ALTER TABLE `articles_catalogue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `besoins_chantier`
--

DROP TABLE IF EXISTS `besoins_chantier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `besoins_chantier` (
  `id` int NOT NULL AUTO_INCREMENT,
  `affaire_id` int NOT NULL,
  `modele_profil_id` int DEFAULT NULL,
  `finition_id` int DEFAULT NULL,
  `longueur_mm` int DEFAULT NULL,
  `quantite` int DEFAULT NULL,
  `statut` enum('A_CALCULER','OPTIMISE','COMMANDE') DEFAULT 'A_CALCULER',
  `article_catalogue_id_choisi` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `affaire_id` (`affaire_id`),
  KEY `modele_profil_id` (`modele_profil_id`),
  KEY `finition_id` (`finition_id`),
  KEY `article_catalogue_id_choisi` (`article_catalogue_id_choisi`),
  CONSTRAINT `besoins_chantier_ibfk_1` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE CASCADE,
  CONSTRAINT `besoins_chantier_ibfk_2` FOREIGN KEY (`modele_profil_id`) REFERENCES `modeles_profils` (`id`) ON DELETE SET NULL,
  CONSTRAINT `besoins_chantier_ibfk_3` FOREIGN KEY (`finition_id`) REFERENCES `finitions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `besoins_chantier_ibfk_4` FOREIGN KEY (`article_catalogue_id_choisi`) REFERENCES `articles_catalogue` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `besoins_chantier`
--

LOCK TABLES `besoins_chantier` WRITE;
/*!40000 ALTER TABLE `besoins_chantier` DISABLE KEYS */;
/*!40000 ALTER TABLE `besoins_chantier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_coordonnees`
--

DROP TABLE IF EXISTS `client_coordonnees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_coordonnees` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `type_contact` enum('Mobile','Email','Adresse Chantier') NOT NULL,
  `libelle` varchar(100) DEFAULT NULL,
  `valeur` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `client_id` (`client_id`),
  CONSTRAINT `client_coordonnees_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_coordonnees`
--

LOCK TABLES `client_coordonnees` WRITE;
/*!40000 ALTER TABLE `client_coordonnees` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_coordonnees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clients` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom_principal` varchar(100) NOT NULL,
  `commentaire` text,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
INSERT INTO `clients` VALUES (1,'M. Dupont',NULL,'2025-12-25 02:54:46');
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commandes_achats`
--

DROP TABLE IF EXISTS `commandes_achats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commandes_achats` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fournisseur_id` int NOT NULL,
  `affaire_id` int DEFAULT NULL,
  `ref_interne` varchar(50) DEFAULT NULL,
  `ref_arc_fournisseur` varchar(50) DEFAULT NULL,
  `date_commande` date DEFAULT NULL,
  `date_prevue_cible` date DEFAULT NULL,
  `precision_date` enum('JOUR','SEMAINE') DEFAULT 'SEMAINE',
  `date_livraison_reelle` date DEFAULT NULL,
  `statut` enum('Brouillon','CommandÔö£┬«','ARC ReÔö£┬║u','Partiel','LivrÔö£┬«') DEFAULT 'Brouillon',
  `lieu_livraison` enum('ATELIER','CHANTIER') DEFAULT 'ATELIER',
  `chemin_pdf_bdc` varchar(255) DEFAULT NULL,
  `chemin_pdf_arc` varchar(255) DEFAULT NULL,
  `source_donnees` enum('MANUEL','IA_SCAN') DEFAULT 'MANUEL',
  `statut_ia` enum('A_SCANNER','A_VERIFIER','VALIDE') DEFAULT 'A_SCANNER',
  `raw_text_analyse` text,
  PRIMARY KEY (`id`),
  KEY `fournisseur_id` (`fournisseur_id`),
  KEY `affaire_id` (`affaire_id`),
  CONSTRAINT `commandes_achats_ibfk_1` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseurs` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `commandes_achats_ibfk_2` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commandes_achats`
--

LOCK TABLES `commandes_achats` WRITE;
/*!40000 ALTER TABLE `commandes_achats` DISABLE KEYS */;
INSERT INTO `commandes_achats` VALUES (1,1,1,'CMD-TEST-01',NULL,'2025-12-25',NULL,'SEMAINE',NULL,'CommandÔö£┬«','ATELIER',NULL,NULL,'MANUEL','A_SCANNER',NULL);
/*!40000 ALTER TABLE `commandes_achats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devis`
--

DROP TABLE IF EXISTS `devis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devis` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `numero_devis` varchar(50) NOT NULL,
  `nom_projet` varchar(100) DEFAULT NULL,
  `date_creation` date DEFAULT (curdate()),
  `date_validite` date DEFAULT NULL,
  `statut` enum('Brouillon','EnvoyÔö£┬«','AcceptÔö£┬«','RefusÔö£┬«','FacturÔö£┬«') DEFAULT 'Brouillon',
  `total_ht` decimal(10,2) DEFAULT '0.00',
  `total_tva` decimal(10,2) DEFAULT '0.00',
  `total_ttc` decimal(10,2) DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_devis` (`numero_devis`),
  KEY `client_id` (`client_id`),
  CONSTRAINT `devis_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devis`
--

LOCK TABLES `devis` WRITE;
/*!40000 ALTER TABLE `devis` DISABLE KEYS */;
/*!40000 ALTER TABLE `devis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devis_details`
--

DROP TABLE IF EXISTS `devis_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devis_details` (
  `id` int NOT NULL AUTO_INCREMENT,
  `devis_id` int NOT NULL,
  `article_id` int DEFAULT NULL,
  `designation` varchar(255) NOT NULL,
  `description` text,
  `quantite` decimal(10,2) DEFAULT '1.00',
  `unite` varchar(20) DEFAULT 'U',
  `prix_unitaire_ht` decimal(10,2) DEFAULT '0.00',
  `remise_pourcentage` decimal(5,2) DEFAULT '0.00',
  `total_ligne_ht` decimal(10,2) DEFAULT '0.00',
  `position` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `devis_id` (`devis_id`),
  KEY `article_id` (`article_id`),
  CONSTRAINT `devis_details_ibfk_1` FOREIGN KEY (`devis_id`) REFERENCES `devis` (`id`) ON DELETE CASCADE,
  CONSTRAINT `devis_details_ibfk_2` FOREIGN KEY (`article_id`) REFERENCES `articles_catalogue` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devis_details`
--

LOCK TABLES `devis_details` WRITE;
/*!40000 ALTER TABLE `devis_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `devis_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emails_archives`
--

DROP TABLE IF EXISTS `emails_archives`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emails_archives` (
  `id` int NOT NULL AUTO_INCREMENT,
  `commande_id` int DEFAULT NULL,
  `affaire_id` int DEFAULT NULL,
  `client_id` int DEFAULT NULL,
  `nom_fichier` varchar(255) DEFAULT NULL,
  `chemin_fichier` varchar(255) DEFAULT NULL,
  `date_upload` datetime DEFAULT CURRENT_TIMESTAMP,
  `type_fichier` enum('MSG','EML') DEFAULT 'MSG',
  `traite_ia` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `commande_id` (`commande_id`),
  KEY `affaire_id` (`affaire_id`),
  KEY `client_id` (`client_id`),
  CONSTRAINT `emails_archives_ibfk_1` FOREIGN KEY (`commande_id`) REFERENCES `commandes_achats` (`id`) ON DELETE SET NULL,
  CONSTRAINT `emails_archives_ibfk_2` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE SET NULL,
  CONSTRAINT `emails_archives_ibfk_3` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emails_archives`
--

LOCK TABLES `emails_archives` WRITE;
/*!40000 ALTER TABLE `emails_archives` DISABLE KEYS */;
/*!40000 ALTER TABLE `emails_archives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fabricants`
--

DROP TABLE IF EXISTS `fabricants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fabricants` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `site_web_technique` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fabricants`
--

LOCK TABLES `fabricants` WRITE;
/*!40000 ALTER TABLE `fabricants` DISABLE KEYS */;
INSERT INTO `fabricants` VALUES (1,'Sepalumic',NULL),(2,'Wurth',NULL);
/*!40000 ALTER TABLE `fabricants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `familles`
--

DROP TABLE IF EXISTS `familles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `familles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `familles`
--

LOCK TABLES `familles` WRITE;
/*!40000 ALTER TABLE `familles` DISABLE KEYS */;
INSERT INTO `familles` VALUES (1,'Profils Alu'),(2,'Visserie'),(3,'Vitrage');
/*!40000 ALTER TABLE `familles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `finitions`
--

DROP TABLE IF EXISTS `finitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `finitions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code_ral` varchar(20) DEFAULT NULL,
  `nom_couleur` varchar(100) DEFAULT NULL,
  `aspect` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `finitions`
--

LOCK TABLES `finitions` WRITE;
/*!40000 ALTER TABLE `finitions` DISABLE KEYS */;
INSERT INTO `finitions` VALUES (1,'7016','Gris Anthracite','Fine Structure'),(2,'9010','Blanc Pur','Brillant');
/*!40000 ALTER TABLE `finitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fournisseur_contacts`
--

DROP TABLE IF EXISTS `fournisseur_contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fournisseur_contacts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fournisseur_id` int NOT NULL,
  `nom` varchar(100) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telephone_fixe` varchar(20) DEFAULT NULL,
  `telephone_mobile` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fournisseur_id` (`fournisseur_id`),
  CONSTRAINT `fournisseur_contacts_ibfk_1` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fournisseur_contacts`
--

LOCK TABLES `fournisseur_contacts` WRITE;
/*!40000 ALTER TABLE `fournisseur_contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `fournisseur_contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fournisseurs`
--

DROP TABLE IF EXISTS `fournisseurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fournisseurs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `code_client_chez_eux` varchar(50) DEFAULT NULL,
  `email_commande` varchar(100) DEFAULT NULL,
  `delai_habituel_jours` int DEFAULT '0',
  `jour_livraison_fixe` varchar(20) DEFAULT NULL,
  `franco_port` decimal(10,2) DEFAULT NULL,
  `categorie_cout` varchar(50) DEFAULT NULL,
  `adresse_enlevement` text,
  `site_web_pro` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fournisseurs`
--

LOCK TABLES `fournisseurs` WRITE;
/*!40000 ALTER TABLE `fournisseurs` DISABLE KEYS */;
INSERT INTO `fournisseurs` VALUES (1,'Sepalumic Distribution',NULL,'commande@sepa.com',0,NULL,NULL,'PROFIL_ALU',NULL,NULL),(2,'Wurth France',NULL,'adv@wurth.fr',0,NULL,NULL,'QUINCAILLERIE',NULL,NULL);
/*!40000 ALTER TABLE `fournisseurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historique_prix`
--

DROP TABLE IF EXISTS `historique_prix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historique_prix` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `prix_ht` decimal(10,2) DEFAULT NULL,
  `date_changement` date DEFAULT NULL,
  `commentaire` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `article_id` (`article_id`),
  CONSTRAINT `historique_prix_ibfk_1` FOREIGN KEY (`article_id`) REFERENCES `articles_catalogue` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historique_prix`
--

LOCK TABLES `historique_prix` WRITE;
/*!40000 ALTER TABLE `historique_prix` DISABLE KEYS */;
/*!40000 ALTER TABLE `historique_prix` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lignes_achat`
--

DROP TABLE IF EXISTS `lignes_achat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lignes_achat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `commande_id` int NOT NULL,
  `article_id` int DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `finition_id` int DEFAULT NULL,
  `qte_commandee` decimal(10,2) DEFAULT NULL,
  `qte_recue` decimal(10,2) DEFAULT '0.00',
  `prix_unitaire_achat` decimal(10,2) DEFAULT NULL,
  `taux_tva` decimal(5,2) DEFAULT '20.00',
  `statut_verification` enum('OK','MISMATCH_COULEUR','MISMATCH_REF','MISMATCH_QTE') DEFAULT 'OK',
  `message_erreur_ia` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `commande_id` (`commande_id`),
  KEY `article_id` (`article_id`),
  KEY `finition_id` (`finition_id`),
  CONSTRAINT `lignes_achat_ibfk_1` FOREIGN KEY (`commande_id`) REFERENCES `commandes_achats` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lignes_achat_ibfk_2` FOREIGN KEY (`article_id`) REFERENCES `articles_catalogue` (`id`) ON DELETE SET NULL,
  CONSTRAINT `lignes_achat_ibfk_3` FOREIGN KEY (`finition_id`) REFERENCES `finitions` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lignes_achat`
--

LOCK TABLES `lignes_achat` WRITE;
/*!40000 ALTER TABLE `lignes_achat` DISABLE KEYS */;
/*!40000 ALTER TABLE `lignes_achat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modeles_courriers`
--

DROP TABLE IF EXISTS `modeles_courriers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modeles_courriers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` enum('EMAIL','PDF_TEXTE','SMS') NOT NULL,
  `code_interne` varchar(50) NOT NULL,
  `nom_modele` varchar(100) DEFAULT NULL,
  `sujet_email` varchar(255) DEFAULT NULL,
  `corps_texte` text,
  `variables_dispo` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code_interne` (`code_interne`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modeles_courriers`
--

LOCK TABLES `modeles_courriers` WRITE;
/*!40000 ALTER TABLE `modeles_courriers` DISABLE KEYS */;
/*!40000 ALTER TABLE `modeles_courriers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modeles_profils`
--

DROP TABLE IF EXISTS `modeles_profils`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modeles_profils` (
  `id` int NOT NULL AUTO_INCREMENT,
  `designation_interne` varchar(100) NOT NULL,
  `poids_metre_lineaire` decimal(10,3) DEFAULT NULL,
  `inertie_ix` decimal(10,2) DEFAULT NULL,
  `inertie_iy` decimal(10,2) DEFAULT NULL,
  `image_coupe` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modeles_profils`
--

LOCK TABLES `modeles_profils` WRITE;
/*!40000 ALTER TABLE `modeles_profils` DISABLE KEYS */;
INSERT INTO `modeles_profils` VALUES (1,'Dormant 50mm',1.250,NULL,NULL,NULL);
/*!40000 ALTER TABLE `modeles_profils` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parametres_generaux`
--

DROP TABLE IF EXISTS `parametres_generaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parametres_generaux` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cle_config` varchar(50) NOT NULL,
  `valeur_config` text,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cle_config` (`cle_config`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parametres_generaux`
--

LOCK TABLES `parametres_generaux` WRITE;
/*!40000 ALTER TABLE `parametres_generaux` DISABLE KEYS */;
INSERT INTO `parametres_generaux` VALUES (1,'PATH_CLIENTS','C:/ARTSALU/CLIENTS','Dossier racine des clients'),(2,'SMTP_HOST','smtp.gmail.com','Serveur mail');
/*!40000 ALTER TABLE `parametres_generaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sous_familles`
--

DROP TABLE IF EXISTS `sous_familles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sous_familles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `famille_id` int NOT NULL,
  `nom` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `famille_id` (`famille_id`),
  CONSTRAINT `sous_familles_ibfk_1` FOREIGN KEY (`famille_id`) REFERENCES `familles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sous_familles`
--

LOCK TABLES `sous_familles` WRITE;
/*!40000 ALTER TABLE `sous_familles` DISABLE KEYS */;
INSERT INTO `sous_familles` VALUES (1,1,'Dormant'),(2,1,'Ouvrant'),(3,1,'Poteau'),(4,2,'Vis Inox');
/*!40000 ALTER TABLE `sous_familles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stocks`
--

DROP TABLE IF EXISTS `stocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stocks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int DEFAULT NULL,
  `finition_id` int DEFAULT NULL,
  `quantite` decimal(10,2) DEFAULT '0.00',
  `emplacement` varchar(50) DEFAULT 'Atelier',
  `date_derniere_maj` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_stock` (`article_id`,`finition_id`,`emplacement`),
  KEY `finition_id` (`finition_id`),
  CONSTRAINT `stocks_ibfk_1` FOREIGN KEY (`article_id`) REFERENCES `articles_catalogue` (`id`) ON DELETE CASCADE,
  CONSTRAINT `stocks_ibfk_2` FOREIGN KEY (`finition_id`) REFERENCES `finitions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stocks`
--

LOCK TABLES `stocks` WRITE;
/*!40000 ALTER TABLE `stocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `stocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stocks_mouvements`
--

DROP TABLE IF EXISTS `stocks_mouvements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stocks_mouvements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `type_mouvement` enum('ENTREE','SORTIE') NOT NULL,
  `quantite` decimal(10,2) NOT NULL,
  `date_mouvement` datetime DEFAULT CURRENT_TIMESTAMP,
  `user_id` int DEFAULT NULL,
  `commentaire` varchar(255) DEFAULT NULL,
  `commande_achat_id` int DEFAULT NULL,
  `affaire_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_article_date` (`article_id`,`date_mouvement`),
  KEY `idx_type` (`type_mouvement`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stocks_mouvements`
--

LOCK TABLES `stocks_mouvements` WRITE;
/*!40000 ALTER TABLE `stocks_mouvements` DISABLE KEYS */;
INSERT INTO `stocks_mouvements` VALUES (1,2,'ENTREE',10.00,'2025-12-25 02:11:59',1,'Test initial',NULL,NULL),(2,1,'SORTIE',10.00,'2025-12-25 02:28:27',1,'livraison',NULL,NULL);
/*!40000 ALTER TABLE `stocks_mouvements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `identifiant` varchar(50) NOT NULL,
  `mot_de_passe_hash` varchar(255) NOT NULL,
  `nom_complet` varchar(100) DEFAULT NULL,
  `role` enum('ADMIN','ATELIER','POSEUR') NOT NULL DEFAULT 'ATELIER',
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `identifiant` (`identifiant`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-25 11:57:44
