-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: antigravity
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `access_logs`
--

DROP TABLE IF EXISTS `access_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `access_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `user_nom` varchar(100) DEFAULT NULL,
  `event_type` enum('LOGIN','LOGOUT','ACCESS_DENIED') NOT NULL,
  `ip_address` varchar(45) NOT NULL,
  `user_agent` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `access_logs`
--

LOCK TABLES `access_logs` WRITE;
/*!40000 ALTER TABLE `access_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `access_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_validations`
--

DROP TABLE IF EXISTS `admin_validations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_validations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `type_action` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `table_concernee` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_enregistrement` int DEFAULT NULL,
  `donnees_json` text COLLATE utf8mb4_unicode_ci,
  `statut` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'PENDING',
  `date_demande` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_traitement` datetime DEFAULT NULL,
  `admin_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_admin_id` (`admin_id`),
  CONSTRAINT `admin_validations_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_validations`
--

LOCK TABLES `admin_validations` WRITE;
/*!40000 ALTER TABLE `admin_validations` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_validations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `affaires`
--

DROP TABLE IF EXISTS `affaires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `affaires` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `numero_prodevis` varchar(50) DEFAULT NULL,
  `nom_affaire` varchar(100) DEFAULT NULL,
  `designation` text,
  `statut` enum('Devis','SignÔö£┬«','TerminÔö£┬«') DEFAULT 'Devis',
  `chemin_dossier_ged` varchar(255) DEFAULT NULL,
  `date_pose_debut` date DEFAULT NULL,
  `date_pose_fin` date DEFAULT NULL,
  `equipe_pose` varchar(100) DEFAULT NULL,
  `statut_chantier` enum('A Planifier','Planifi├®','En Cours','Termin├®','Factur├®') DEFAULT 'A Planifier',
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  `montant_ht` decimal(10,2) DEFAULT '0.00',
  `date_signature` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_prodevis` (`numero_prodevis`),
  KEY `idx_affaires_client` (`client_id`),
  KEY `idx_affaires_statut` (`statut`),
  CONSTRAINT `affaires_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=1000 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `affaires`
--

LOCK TABLES `affaires` WRITE;
/*!40000 ALTER TABLE `affaires` DISABLE KEYS */;
/*!40000 ALTER TABLE `affaires` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `affaires_materiel`
--

DROP TABLE IF EXISTS `affaires_materiel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `affaires_materiel` (
  `id` int NOT NULL AUTO_INCREMENT,
  `affaire_id` int NOT NULL,
  `designation` varchar(255) NOT NULL,
  `quantite` int DEFAULT '1',
  `unite` varchar(50) DEFAULT 'unit├®',
  `statut` enum('A_PREVOIR','COMMANDE','SUR_SITE','RETOURNE') DEFAULT 'A_PREVOIR',
  `priorite` enum('BASSE','NORMALE','HAUTE','URGENTE') DEFAULT 'NORMALE',
  `commentaire` text,
  `date_ajout` datetime DEFAULT CURRENT_TIMESTAMP,
  `date_modification` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `user_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `idx_affaire` (`affaire_id`),
  KEY `idx_statut` (`statut`),
  CONSTRAINT `affaires_materiel_ibfk_1` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE CASCADE,
  CONSTRAINT `affaires_materiel_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `affaires_materiel`
--

LOCK TABLES `affaires_materiel` WRITE;
/*!40000 ALTER TABLE `affaires_materiel` DISABLE KEYS */;
INSERT INTO `affaires_materiel` VALUES (1,999,'Pelle test',2,'unit├®','A_PREVOIR','HAUTE','','2026-01-02 19:20:20',NULL,1);
/*!40000 ALTER TABLE `affaires_materiel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `articles`
--

DROP TABLE IF EXISTS `articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `articles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reference_interne` varchar(50) NOT NULL,
  `designation` varchar(255) NOT NULL,
  `famille` varchar(100) DEFAULT NULL,
  `sous_famille` varchar(100) DEFAULT NULL,
  `fournisseur_prefere_id` int DEFAULT NULL,
  `fabricant_id` int DEFAULT NULL,
  `ref_fournisseur` varchar(100) DEFAULT NULL,
  `prix_achat_ht` decimal(10,2) DEFAULT '0.00',
  `unite_stock` varchar(20) DEFAULT 'U',
  `type_vente` enum('BARRE','METRE','M2','PIECE','BOITE') DEFAULT 'PIECE',
  `conditionnement_qte` int DEFAULT '1',
  `poids_kg` decimal(10,3) DEFAULT '0.000',
  `poids_metre_lineaire` decimal(10,3) DEFAULT NULL,
  `inertie_lx` decimal(10,2) DEFAULT NULL,
  `longueur_barre` int DEFAULT '0',
  `longueurs_possibles_json` json DEFAULT NULL,
  `finition_id` int DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `articles_lies_json` json DEFAULT NULL,
  `stock_actuel` decimal(10,2) DEFAULT '0.00',
  `seuil_alerte_stock` decimal(10,2) DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `stock_physique` decimal(10,2) DEFAULT '0.00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `reference_interne` (`reference_interne`),
  KEY `fournisseur_prefere_id` (`fournisseur_prefere_id`),
  KEY `fk_articles_fabricant` (`fabricant_id`),
  KEY `fk_articles_finition` (`finition_id`),
  CONSTRAINT `articles_ibfk_1` FOREIGN KEY (`fournisseur_prefere_id`) REFERENCES `fournisseurs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_articles_fabricant` FOREIGN KEY (`fabricant_id`) REFERENCES `fabricants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_articles_finition` FOREIGN KEY (`finition_id`) REFERENCES `finitions` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articles`
--

LOCK TABLES `articles` WRITE;
/*!40000 ALTER TABLE `articles` DISABLE KEYS */;
/*!40000 ALTER TABLE `articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `besoins_chantier`
--

DROP TABLE IF EXISTS `besoins_chantier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `besoins_chantier` (
  `id` int NOT NULL AUTO_INCREMENT,
  `affaire_id` int NOT NULL,
  `modele_profil_id` int DEFAULT NULL,
  `finition_id` int DEFAULT NULL,
  `longueur_mm` int DEFAULT NULL,
  `quantite` int DEFAULT NULL,
  `statut` enum('A_CALCULER','OPTIMISE','COMMANDE') DEFAULT 'A_CALCULER',
  `article_catalogue_id_choisi` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `affaire_id` (`affaire_id`),
  KEY `modele_profil_id` (`modele_profil_id`),
  KEY `finition_id` (`finition_id`),
  KEY `article_catalogue_id_choisi` (`article_catalogue_id_choisi`),
  CONSTRAINT `besoins_chantier_ibfk_1` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE CASCADE,
  CONSTRAINT `besoins_chantier_ibfk_2` FOREIGN KEY (`modele_profil_id`) REFERENCES `modeles_profils` (`id`) ON DELETE SET NULL,
  CONSTRAINT `besoins_chantier_ibfk_3` FOREIGN KEY (`finition_id`) REFERENCES `finitions` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `besoins_chantier`
--

LOCK TABLES `besoins_chantier` WRITE;
/*!40000 ALTER TABLE `besoins_chantier` DISABLE KEYS */;
/*!40000 ALTER TABLE `besoins_chantier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `besoins_lignes`
--

DROP TABLE IF EXISTS `besoins_lignes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `besoins_lignes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `affaire_id` int NOT NULL,
  `zone_chantier` varchar(50) DEFAULT 'Non dÔö£┬«fini' COMMENT 'FaÔö£┬║ade, Toiture...',
  `designation_besoin` varchar(255) NOT NULL,
  `quantite_brute` int NOT NULL DEFAULT '1',
  `longueur_unitaire_brute_mm` int NOT NULL,
  `article_catalogue_id` int DEFAULT NULL,
  `modele_profil_id` int DEFAULT NULL,
  `finition_id` int DEFAULT NULL,
  `longueur_barre_choisie_mm` int DEFAULT NULL,
  `taux_chute` decimal(5,2) DEFAULT NULL,
  `statut` enum('BROUILLON','OPTIMISE','VALIDE','COMMANDE') DEFAULT 'BROUILLON',
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `affaire_id` (`affaire_id`),
  KEY `fk_besoins_finition` (`finition_id`),
  KEY `idx_article_catalogue_id` (`article_catalogue_id`),
  KEY `idx_modele_profil_id` (`modele_profil_id`),
  CONSTRAINT `besoins_lignes_ibfk_1` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_besoins_finition` FOREIGN KEY (`finition_id`) REFERENCES `finitions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `besoins_lignes`
--

LOCK TABLES `besoins_lignes` WRITE;
/*!40000 ALTER TABLE `besoins_lignes` DISABLE KEYS */;
/*!40000 ALTER TABLE `besoins_lignes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_adresses`
--

DROP TABLE IF EXISTS `client_adresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_adresses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `type_adresse` enum('Domicile','Travail','Chantier','Facturation','Livraison','Autre') DEFAULT 'Domicile',
  `adresse` text NOT NULL,
  `code_postal` varchar(5) DEFAULT NULL,
  `ville` varchar(100) DEFAULT NULL,
  `pays` varchar(100) DEFAULT 'France',
  `contact_sur_place` varchar(100) DEFAULT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `instructions` text COMMENT 'Code porte, ├®tage, digicode, etc.',
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_client` (`client_id`),
  KEY `idx_type` (`type_adresse`),
  CONSTRAINT `client_adresses_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_adresses`
--

LOCK TABLES `client_adresses` WRITE;
/*!40000 ALTER TABLE `client_adresses` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_adresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_contacts`
--

DROP TABLE IF EXISTS `client_contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_contacts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `civilite` enum('M.','Mme','Autre') DEFAULT 'M.',
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) DEFAULT NULL,
  `role` varchar(100) DEFAULT NULL COMMENT 'Conjoint, Assistant, Comptable, etc.',
  `email` varchar(255) DEFAULT NULL,
  `telephone_fixe` varchar(20) DEFAULT NULL,
  `telephone_mobile` varchar(20) DEFAULT NULL,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_client` (`client_id`),
  CONSTRAINT `client_contacts_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_contacts`
--

LOCK TABLES `client_contacts` WRITE;
/*!40000 ALTER TABLE `client_contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_emails`
--

DROP TABLE IF EXISTS `client_emails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_emails` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `email` varchar(255) NOT NULL,
  `type_email` enum('Principal','Secondaire','Professionnel','Facturation','Autre') DEFAULT 'Principal',
  `libelle` varchar(100) DEFAULT NULL,
  `principal` tinyint(1) DEFAULT '0',
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_client` (`client_id`),
  KEY `idx_email` (`email`),
  CONSTRAINT `client_emails_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_emails`
--

LOCK TABLES `client_emails` WRITE;
/*!40000 ALTER TABLE `client_emails` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_emails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_telephones`
--

DROP TABLE IF EXISTS `client_telephones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_telephones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `type_telephone` enum('Bureau','Domicile','Portable','Fax','Autre') DEFAULT 'Portable',
  `numero` varchar(20) NOT NULL,
  `libelle` varchar(100) DEFAULT NULL COMMENT 'Ex: Portable Pro, Tel Chantier',
  `principal` tinyint(1) DEFAULT '0',
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_client` (`client_id`),
  CONSTRAINT `client_telephones_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_telephones`
--

LOCK TABLES `client_telephones` WRITE;
/*!40000 ALTER TABLE `client_telephones` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_telephones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clients` (
  `id` int NOT NULL AUTO_INCREMENT,
  `civilite` enum('M.','Mme') DEFAULT 'M.',
  `nom_principal` varchar(100) NOT NULL,
  `prenom` varchar(100) DEFAULT NULL,
  `code_client` varchar(50) DEFAULT NULL,
  `email_principal` varchar(255) DEFAULT NULL,
  `telephone_fixe` varchar(20) DEFAULT NULL,
  `telephone_mobile` varchar(20) DEFAULT NULL,
  `adresse_postale` text,
  `code_postal` varchar(5) DEFAULT NULL,
  `ville` varchar(100) DEFAULT NULL,
  `pays` varchar(100) DEFAULT 'France',
  `notes` text,
  `commentaire` text,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commandes_achats`
--

DROP TABLE IF EXISTS `commandes_achats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commandes_achats` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fournisseur_id` int NOT NULL,
  `affaire_id` int DEFAULT NULL,
  `ref_interne` varchar(50) DEFAULT NULL,
  `ref_arc_fournisseur` varchar(50) DEFAULT NULL,
  `date_commande` date DEFAULT NULL,
  `date_prevue_cible` date DEFAULT NULL,
  `precision_date` enum('JOUR','SEMAINE') DEFAULT 'SEMAINE',
  `date_livraison_reelle` date DEFAULT NULL,
  `statut` enum('Brouillon','CommandÔö£┬«','ARC ReÔö£┬║u','Partiel','LivrÔö£┬«') DEFAULT 'Brouillon',
  `lieu_livraison` enum('ATELIER','CHANTIER') DEFAULT 'ATELIER',
  `chemin_pdf_bdc` varchar(255) DEFAULT NULL,
  `chemin_pdf_arc` varchar(255) DEFAULT NULL,
  `source_donnees` enum('MANUEL','IA_SCAN') DEFAULT 'MANUEL',
  `statut_ia` enum('A_SCANNER','A_VERIFIER','VALIDE') DEFAULT 'A_SCANNER',
  `raw_text_analyse` text,
  `date_en_attente` date DEFAULT NULL,
  `date_arc_recu` date DEFAULT NULL,
  `date_livraison_prevue` date DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_cmd_fournisseur` (`fournisseur_id`),
  KEY `idx_cmd_affaire` (`affaire_id`),
  KEY `idx_cmd_statut` (`statut`),
  KEY `idx_cmd_date` (`date_commande`),
  CONSTRAINT `commandes_achats_ibfk_1` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseurs` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `commandes_achats_ibfk_2` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commandes_achats`
--

LOCK TABLES `commandes_achats` WRITE;
/*!40000 ALTER TABLE `commandes_achats` DISABLE KEYS */;
/*!40000 ALTER TABLE `commandes_achats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commandes_express`
--

DROP TABLE IF EXISTS `commandes_express`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commandes_express` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  `type_imputation` enum('STOCK','AFFAIRE') NOT NULL COMMENT 'Stock = Interne, Affaire = Client',
  `affaire_id` int DEFAULT NULL COMMENT 'NULL si Stock',
  `module_type` varchar(50) NOT NULL,
  `type_module` varchar(50) DEFAULT NULL,
  `fournisseur_nom` varchar(100) NOT NULL,
  `details_json` longtext,
  `created_by` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `statut` varchar(50) DEFAULT 'EN_ATTENTE',
  PRIMARY KEY (`id`),
  KEY `affaire_id` (`affaire_id`),
  KEY `idx_user_id` (`user_id`),
  CONSTRAINT `commandes_express_ibfk_1` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commandes_express`
--

LOCK TABLES `commandes_express` WRITE;
/*!40000 ALTER TABLE `commandes_express` DISABLE KEYS */;
/*!40000 ALTER TABLE `commandes_express` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dashboard_postits`
--

DROP TABLE IF EXISTS `dashboard_postits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dashboard_postits` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `content` text NOT NULL,
  `color` varchar(20) DEFAULT 'yellow',
  `position_x` int DEFAULT '0',
  `position_y` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `x_pos` int DEFAULT '20',
  `y_pos` int DEFAULT '20',
  `width` int DEFAULT '220',
  `height` int DEFAULT '220',
  `z_index` int DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dashboard_postits`
--

LOCK TABLES `dashboard_postits` WRITE;
/*!40000 ALTER TABLE `dashboard_postits` DISABLE KEYS */;
INSERT INTO `dashboard_postits` VALUES (1,1,'sgdgs','bleu',0,0,'2026-01-02 10:03:30','2026-01-02 10:30:54',576,139,467,352,15),(2,1,'dfhsdhxnbxnb','jaune',0,0,'2026-01-02 10:06:50','2026-01-02 10:07:03',230,132,220,220,14),(3,1,'snbdfngdn','vert',0,0,'2026-01-02 12:14:48','2026-01-02 12:14:51',951,59,220,220,16);
/*!40000 ALTER TABLE `dashboard_postits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emails_archives`
--

DROP TABLE IF EXISTS `emails_archives`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emails_archives` (
  `id` int NOT NULL AUTO_INCREMENT,
  `commande_id` int DEFAULT NULL,
  `affaire_id` int DEFAULT NULL,
  `client_id` int DEFAULT NULL,
  `nom_fichier` varchar(255) DEFAULT NULL,
  `chemin_fichier` varchar(255) DEFAULT NULL,
  `date_upload` datetime DEFAULT CURRENT_TIMESTAMP,
  `type_fichier` enum('MSG','EML') DEFAULT 'MSG',
  `traite_ia` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `commande_id` (`commande_id`),
  KEY `affaire_id` (`affaire_id`),
  KEY `client_id` (`client_id`),
  CONSTRAINT `emails_archives_ibfk_1` FOREIGN KEY (`commande_id`) REFERENCES `commandes_achats` (`id`) ON DELETE SET NULL,
  CONSTRAINT `emails_archives_ibfk_2` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE SET NULL,
  CONSTRAINT `emails_archives_ibfk_3` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emails_archives`
--

LOCK TABLES `emails_archives` WRITE;
/*!40000 ALTER TABLE `emails_archives` DISABLE KEYS */;
/*!40000 ALTER TABLE `emails_archives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fabricants`
--

DROP TABLE IF EXISTS `fabricants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fabricants` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `site_web_technique` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fabricants`
--

LOCK TABLES `fabricants` WRITE;
/*!40000 ALTER TABLE `fabricants` DISABLE KEYS */;
INSERT INTO `fabricants` VALUES (1,'Sepalumic',NULL),(2,'Wurth',NULL);
/*!40000 ALTER TABLE `fabricants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `familles_articles`
--

DROP TABLE IF EXISTS `familles_articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `familles_articles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `designation` varchar(100) NOT NULL,
  `icon` varchar(50) DEFAULT 'box',
  `ordre` int DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `familles_articles`
--

LOCK TABLES `familles_articles` WRITE;
/*!40000 ALTER TABLE `familles_articles` DISABLE KEYS */;
INSERT INTO `familles_articles` VALUES (1,'Profil├®s Alu','ruler-vertical',10),(2,'T├┤les & Pliages','layer-group',20),(3,'Vitrages','window-maximize',30),(4,'Quincaillerie','tools',40),(5,'Joints','ring',50),(6,'Consommables','spray-can',60);
/*!40000 ALTER TABLE `familles_articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `finitions`
--

DROP TABLE IF EXISTS `finitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `finitions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code_ral` varchar(20) DEFAULT NULL,
  `nom_couleur` varchar(100) DEFAULT NULL,
  `aspect` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `finitions`
--

LOCK TABLES `finitions` WRITE;
/*!40000 ALTER TABLE `finitions` DISABLE KEYS */;
INSERT INTO `finitions` VALUES (1,'7016','Gris Anthracite','Fine Structure'),(2,'9010','Blanc Pur','Brillant'),(3,'9005','Noir Profond','Mat Textur├®'),(4,'9016','Blanc Trafic','Satin├®'),(5,'1247','Bronze','Satin├®'),(6,'7035','Gris Clair','Satin├®'),(7,'3004','Rouge Pourpre','Mat');
/*!40000 ALTER TABLE `finitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fournisseur_adresses`
--

DROP TABLE IF EXISTS `fournisseur_adresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fournisseur_adresses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fournisseur_id` int NOT NULL,
  `type_adresse` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'Livraison',
  `adresse` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `code_postal` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ville` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pays` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'France',
  `contact_sur_place` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fournisseur_id` (`fournisseur_id`),
  CONSTRAINT `fournisseur_adresses_ibfk_1` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fournisseur_adresses`
--

LOCK TABLES `fournisseur_adresses` WRITE;
/*!40000 ALTER TABLE `fournisseur_adresses` DISABLE KEYS */;
INSERT INTO `fournisseur_adresses` VALUES (1,3,'Livraison','qcqc','83300','draguignan','France','qcd','qcd');
/*!40000 ALTER TABLE `fournisseur_adresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fournisseur_contacts`
--

DROP TABLE IF EXISTS `fournisseur_contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fournisseur_contacts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fournisseur_id` int NOT NULL,
  `nom` varchar(100) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telephone_fixe` varchar(20) DEFAULT NULL,
  `telephone_mobile` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fournisseur_id` (`fournisseur_id`),
  CONSTRAINT `fournisseur_contacts_ibfk_1` FOREIGN KEY (`fournisseur_id`) REFERENCES `fournisseurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fournisseur_contacts`
--

LOCK TABLES `fournisseur_contacts` WRITE;
/*!40000 ALTER TABLE `fournisseur_contacts` DISABLE KEYS */;
INSERT INTO `fournisseur_contacts` VALUES (1,3,'Celine Ver','ADV / Logistique','','',''),(4,3,'patrick','Commercial','zd@hs','ds','ds'),(5,4,'dvs','Commercial','sdvsd@xbgd','sdv','');
/*!40000 ALTER TABLE `fournisseur_contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fournisseurs`
--

DROP TABLE IF EXISTS `fournisseurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fournisseurs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `code_fou` varchar(50) DEFAULT NULL,
  `code_client_chez_eux` varchar(50) DEFAULT NULL,
  `email_commande` varchar(100) DEFAULT NULL,
  `adresse_postale` text,
  `code_postal` varchar(20) DEFAULT NULL,
  `ville` varchar(100) DEFAULT NULL,
  `pays` varchar(50) DEFAULT 'France',
  `siret` varchar(50) DEFAULT NULL,
  `tva_intra` varchar(50) DEFAULT NULL,
  `site_web` varchar(255) DEFAULT NULL,
  `notes` text,
  `condition_paiement` varchar(100) DEFAULT '30 jours fin de mois',
  `delai_habituel_jours` int DEFAULT '0',
  `jour_livraison_fixe` varchar(20) DEFAULT NULL,
  `franco_port` decimal(10,2) DEFAULT NULL,
  `categorie_cout` varchar(50) DEFAULT NULL,
  `adresse_enlevement` text,
  `site_web_pro` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fournisseurs`
--

LOCK TABLES `fournisseurs` WRITE;
/*!40000 ALTER TABLE `fournisseurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `fournisseurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lignes_achat`
--

DROP TABLE IF EXISTS `lignes_achat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lignes_achat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `commande_id` int NOT NULL,
  `article_id` int DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `finition_id` int DEFAULT NULL,
  `qte_commandee` decimal(10,2) DEFAULT NULL,
  `qte_recue` decimal(10,2) DEFAULT '0.00',
  `prix_unitaire_achat` decimal(10,2) DEFAULT NULL,
  `taux_tva` decimal(5,2) DEFAULT '20.00',
  `statut_verification` enum('OK','MISMATCH_COULEUR','MISMATCH_REF','MISMATCH_QTE') DEFAULT 'OK',
  `message_erreur_ia` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `finition_id` (`finition_id`),
  KEY `idx_lignes_cmd` (`commande_id`),
  KEY `idx_lignes_article` (`article_id`),
  CONSTRAINT `lignes_achat_ibfk_1` FOREIGN KEY (`commande_id`) REFERENCES `commandes_achats` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lignes_achat_ibfk_3` FOREIGN KEY (`finition_id`) REFERENCES `finitions` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lignes_achat`
--

LOCK TABLES `lignes_achat` WRITE;
/*!40000 ALTER TABLE `lignes_achat` DISABLE KEYS */;
/*!40000 ALTER TABLE `lignes_achat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metrage_etapes`
--

DROP TABLE IF EXISTS `metrage_etapes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metrage_etapes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `metrage_type_id` int DEFAULT NULL COMMENT 'NULL = ├®tape commune ├á tous les produits',
  `categorie` varchar(50) DEFAULT NULL COMMENT 'Alternative: filtrer par cat├®gorie',
  `ordre` int NOT NULL DEFAULT '0',
  `code_etape` varchar(50) NOT NULL COMMENT 'Identifiant unique de l ├®tape',
  `nom_etape` varchar(100) NOT NULL,
  `message_assistant` text NOT NULL COMMENT 'Ce que dit l assistant',
  `type_saisie` varchar(50) NOT NULL DEFAULT 'texte',
  `options_json` json DEFAULT NULL COMMENT 'Options pour les listes',
  `champs_json` json DEFAULT NULL COMMENT 'D├®finition des champs ├á afficher',
  `schema_url` varchar(255) DEFAULT NULL,
  `rappel` text COMMENT 'Warning/Rappel professionnel',
  `est_obligatoire` tinyint(1) DEFAULT '1',
  `condition_json` json DEFAULT NULL COMMENT 'Condition pour afficher cette ├®tape',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_metrage_etapes_categorie` (`categorie`),
  KEY `idx_metrage_etapes_type` (`metrage_type_id`),
  CONSTRAINT `fk_metrage_etapes_type` FOREIGN KEY (`metrage_type_id`) REFERENCES `metrage_types` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metrage_etapes`
--

LOCK TABLES `metrage_etapes` WRITE;
/*!40000 ALTER TABLE `metrage_etapes` DISABLE KEYS */;
/*!40000 ALTER TABLE `metrage_etapes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metrage_guides_full`
--

DROP TABLE IF EXISTS `metrage_guides_full`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metrage_guides_full` (
  `id` int NOT NULL AUTO_INCREMENT,
  `produit_family` varchar(50) NOT NULL,
  `trigger_input_id` varchar(100) NOT NULL,
  `image_filename` varchar(100) NOT NULL,
  `titre` varchar(100) NOT NULL,
  `texte_conseil` text,
  PRIMARY KEY (`id`),
  KEY `trigger_input_id` (`trigger_input_id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metrage_guides_full`
--

LOCK TABLES `metrage_guides_full` WRITE;
/*!40000 ALTER TABLE `metrage_guides_full` DISABLE KEYS */;
/*!40000 ALTER TABLE `metrage_guides_full` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metrage_interventions`
--

DROP TABLE IF EXISTS `metrage_interventions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metrage_interventions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `affaire_id` int DEFAULT NULL,
  `date_prevue` datetime DEFAULT NULL,
  `date_realisee` datetime DEFAULT NULL,
  `statut` enum('A_PLANIFIER','PLANIFIE','EN_COURS','VALIDE','A_REVOIR','TERMINE') DEFAULT 'A_PLANIFIER',
  `technicien_id` int DEFAULT NULL,
  `infos_acces` text,
  `notes_generales` text,
  `gps_lat` decimal(10,8) DEFAULT NULL,
  `gps_lon` decimal(11,8) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `affaire_id` (`affaire_id`),
  KEY `technicien_id` (`technicien_id`),
  CONSTRAINT `metrage_interventions_ibfk_1` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE CASCADE,
  CONSTRAINT `metrage_interventions_ibfk_2` FOREIGN KEY (`technicien_id`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metrage_interventions`
--

LOCK TABLES `metrage_interventions` WRITE;
/*!40000 ALTER TABLE `metrage_interventions` DISABLE KEYS */;
/*!40000 ALTER TABLE `metrage_interventions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metrage_lignes`
--

DROP TABLE IF EXISTS `metrage_lignes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metrage_lignes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `intervention_id` int NOT NULL,
  `metrage_type_id` int NOT NULL,
  `localisation` varchar(100) DEFAULT NULL,
  `donnees_json` json DEFAULT NULL,
  `notes_observateur` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `largeur_mm` int GENERATED ALWAYS AS (json_unquote(json_extract(`donnees_json`,_utf8mb4'$.dimensions.largeur'))) STORED,
  `hauteur_mm` int GENERATED ALWAYS AS (json_unquote(json_extract(`donnees_json`,_utf8mb4'$.dimensions.hauteur'))) STORED,
  `surface_m2` decimal(10,2) GENERATED ALWAYS AS (((cast(json_unquote(json_extract(`donnees_json`,_utf8mb4'$.dimensions.largeur')) as decimal(10,0)) * cast(json_unquote(json_extract(`donnees_json`,_utf8mb4'$.dimensions.hauteur')) as decimal(10,0))) / 1000000)) STORED,
  PRIMARY KEY (`id`),
  KEY `intervention_id` (`intervention_id`),
  KEY `metrage_type_id` (`metrage_type_id`),
  CONSTRAINT `metrage_lignes_ibfk_1` FOREIGN KEY (`intervention_id`) REFERENCES `metrage_interventions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `metrage_lignes_ibfk_2` FOREIGN KEY (`metrage_type_id`) REFERENCES `metrage_types` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metrage_lignes`
--

LOCK TABLES `metrage_lignes` WRITE;
/*!40000 ALTER TABLE `metrage_lignes` DISABLE KEYS */;
/*!40000 ALTER TABLE `metrage_lignes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metrage_points_controle`
--

DROP TABLE IF EXISTS `metrage_points_controle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metrage_points_controle` (
  `id` int NOT NULL AUTO_INCREMENT,
  `metrage_type_id` int NOT NULL,
  `label` varchar(255) NOT NULL,
  `type_saisie` enum('mm','texte','photo','choix_binaire','liste','nombre') DEFAULT 'mm',
  `options_liste` json DEFAULT NULL,
  `is_obligatoire` tinyint(1) DEFAULT '1',
  `message_aide` text,
  `image_url` varchar(255) DEFAULT NULL,
  `ordre` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `metrage_type_id` (`metrage_type_id`),
  CONSTRAINT `metrage_points_controle_ibfk_1` FOREIGN KEY (`metrage_type_id`) REFERENCES `metrage_types` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metrage_points_controle`
--

LOCK TABLES `metrage_points_controle` WRITE;
/*!40000 ALTER TABLE `metrage_points_controle` DISABLE KEYS */;
/*!40000 ALTER TABLE `metrage_points_controle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metrage_types`
--

DROP TABLE IF EXISTS `metrage_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metrage_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `categorie` varchar(50) DEFAULT NULL,
  `famille` varchar(50) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `has_motorisation` tinyint(1) DEFAULT '0',
  `has_maconnerie` tinyint(1) DEFAULT '0',
  `image_url` varchar(255) DEFAULT 'assets/img/types/default.png',
  `description` text,
  `actif` tinyint(1) DEFAULT '1',
  `schema_svg` text,
  `workflow_json` json DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metrage_types`
--

LOCK TABLES `metrage_types` WRITE;
/*!40000 ALTER TABLE `metrage_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `metrage_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modeles_profils`
--

DROP TABLE IF EXISTS `modeles_profils`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modeles_profils` (
  `id` int NOT NULL AUTO_INCREMENT,
  `designation_interne` varchar(100) NOT NULL,
  `poids_metre_lineaire` decimal(10,3) DEFAULT NULL,
  `inertie_ix` decimal(10,2) DEFAULT NULL,
  `inertie_iy` decimal(10,2) DEFAULT NULL,
  `image_coupe` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modeles_profils`
--

LOCK TABLES `modeles_profils` WRITE;
/*!40000 ALTER TABLE `modeles_profils` DISABLE KEYS */;
INSERT INTO `modeles_profils` VALUES (1,'Dormant 50mm',1.250,NULL,NULL,NULL);
/*!40000 ALTER TABLE `modeles_profils` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `type` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text,
  `link` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user_read` (`user_id`,`is_read`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parametres_generaux`
--

DROP TABLE IF EXISTS `parametres_generaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parametres_generaux` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cle_config` varchar(50) NOT NULL,
  `valeur_config` text,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cle_config` (`cle_config`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parametres_generaux`
--

LOCK TABLES `parametres_generaux` WRITE;
/*!40000 ALTER TABLE `parametres_generaux` DISABLE KEYS */;
/*!40000 ALTER TABLE `parametres_generaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rendez_vous`
--

DROP TABLE IF EXISTS `rendez_vous`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rendez_vous` (
  `id` int NOT NULL AUTO_INCREMENT,
  `affaire_id` int NOT NULL,
  `type` enum('metrage','pose','livraison') NOT NULL,
  `date_rdv` date NOT NULL,
  `heure_debut` time DEFAULT '09:00:00',
  `heure_fin` time DEFAULT '12:00:00',
  `statut` varchar(50) DEFAULT 'planifie',
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_affaire` (`affaire_id`),
  KEY `idx_date` (`date_rdv`),
  KEY `idx_type` (`type`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rendez_vous`
--

LOCK TABLES `rendez_vous` WRITE;
/*!40000 ALTER TABLE `rendez_vous` DISABLE KEYS */;
/*!40000 ALTER TABLE `rendez_vous` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sav_interventions`
--

DROP TABLE IF EXISTS `sav_interventions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sav_interventions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ticket_id` int NOT NULL,
  `technicien_id` int NOT NULL,
  `date_intervention` datetime NOT NULL,
  `duree_prevue` int DEFAULT '60',
  `statut` enum('PLANIFIE','REALISE','RATE','ANNULE') COLLATE utf8mb4_unicode_ci DEFAULT 'PLANIFIE',
  `rapport_intervention` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `ticket_id` (`ticket_id`),
  KEY `technicien_id` (`technicien_id`),
  CONSTRAINT `sav_interventions_ibfk_1` FOREIGN KEY (`ticket_id`) REFERENCES `sav_tickets` (`id`) ON DELETE CASCADE,
  CONSTRAINT `sav_interventions_ibfk_2` FOREIGN KEY (`technicien_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sav_interventions`
--

LOCK TABLES `sav_interventions` WRITE;
/*!40000 ALTER TABLE `sav_interventions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sav_interventions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sav_lignes_diagnostic`
--

DROP TABLE IF EXISTS `sav_lignes_diagnostic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sav_lignes_diagnostic` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ticket_id` int NOT NULL,
  `article_id` int DEFAULT NULL,
  `designation_piece` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantite` decimal(10,2) DEFAULT '1.00',
  `action_requise` enum('REMPLACEMENT','REGLAGE','DEVIS_A_FAIRE','A_DEFINIR') COLLATE utf8mb4_unicode_ci DEFAULT 'A_DEFINIR',
  `photo_preuve_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ticket_id` (`ticket_id`),
  KEY `article_id` (`article_id`),
  CONSTRAINT `sav_lignes_diagnostic_ibfk_1` FOREIGN KEY (`ticket_id`) REFERENCES `sav_tickets` (`id`) ON DELETE CASCADE,
  CONSTRAINT `sav_lignes_diagnostic_ibfk_2` FOREIGN KEY (`article_id`) REFERENCES `articles` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sav_lignes_diagnostic`
--

LOCK TABLES `sav_lignes_diagnostic` WRITE;
/*!40000 ALTER TABLE `sav_lignes_diagnostic` DISABLE KEYS */;
/*!40000 ALTER TABLE `sav_lignes_diagnostic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sav_tickets`
--

DROP TABLE IF EXISTS `sav_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sav_tickets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `numero_ticket` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `client_id` int DEFAULT NULL,
  `affaire_id` int DEFAULT NULL,
  `prospect_nom` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prospect_telephone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prospect_ville` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type_panne` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description_initiale` text COLLATE utf8mb4_unicode_ci,
  `origine_panne` enum('USURE','CASSE_CLIENT','DEFAUT_PRODUIT','POSE','INCONNU') COLLATE utf8mb4_unicode_ci DEFAULT 'INCONNU',
  `statut` enum('OUVERT','EN_DIAGNOSTIC','PIECE_A_COMMANDER','A_PLANIFIER','EN_COURS','RESOLU','FACTURE','CLASS_SANS_SUITE') COLLATE utf8mb4_unicode_ci DEFAULT 'OUVERT',
  `urgence` tinyint DEFAULT '1',
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_ticket` (`numero_ticket`),
  KEY `client_id` (`client_id`),
  KEY `affaire_id` (`affaire_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_statut_urgence` (`statut`,`urgence`),
  CONSTRAINT `sav_tickets_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE SET NULL,
  CONSTRAINT `sav_tickets_ibfk_2` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE SET NULL,
  CONSTRAINT `sav_tickets_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sav_tickets`
--

LOCK TABLES `sav_tickets` WRITE;
/*!40000 ALTER TABLE `sav_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `sav_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sous_familles`
--

DROP TABLE IF EXISTS `sous_familles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sous_familles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `famille_id` int NOT NULL,
  `nom` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `famille_id` (`famille_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sous_familles`
--

LOCK TABLES `sous_familles` WRITE;
/*!40000 ALTER TABLE `sous_familles` DISABLE KEYS */;
INSERT INTO `sous_familles` VALUES (1,1,'Dormant'),(2,1,'Ouvrant'),(3,1,'Poteau'),(4,2,'Vis Inox');
/*!40000 ALTER TABLE `sous_familles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sous_familles_articles`
--

DROP TABLE IF EXISTS `sous_familles_articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sous_familles_articles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `famille_id` int NOT NULL,
  `designation` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `famille_id` (`famille_id`),
  CONSTRAINT `sous_familles_articles_ibfk_1` FOREIGN KEY (`famille_id`) REFERENCES `familles_articles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sous_familles_articles`
--

LOCK TABLES `sous_familles_articles` WRITE;
/*!40000 ALTER TABLE `sous_familles_articles` DISABLE KEYS */;
INSERT INTO `sous_familles_articles` VALUES (1,1,'Chevrons'),(2,1,'Poteaux'),(3,1,'Traverses'),(4,1,'Sabli├¿res'),(5,1,'Capots');
/*!40000 ALTER TABLE `sous_familles_articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stocks`
--

DROP TABLE IF EXISTS `stocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stocks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int DEFAULT NULL,
  `finition_id` int DEFAULT NULL,
  `quantite` decimal(10,2) DEFAULT '0.00',
  `emplacement` varchar(50) DEFAULT 'Atelier',
  `date_derniere_maj` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_stock` (`article_id`,`finition_id`,`emplacement`),
  KEY `finition_id` (`finition_id`),
  CONSTRAINT `stocks_ibfk_2` FOREIGN KEY (`finition_id`) REFERENCES `finitions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stocks`
--

LOCK TABLES `stocks` WRITE;
/*!40000 ALTER TABLE `stocks` DISABLE KEYS */;
INSERT INTO `stocks` VALUES (1,12,NULL,5.00,'Atelier','2026-01-02 14:59:14');
/*!40000 ALTER TABLE `stocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stocks_mouvements`
--

DROP TABLE IF EXISTS `stocks_mouvements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stocks_mouvements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL,
  `finition_id` int DEFAULT NULL,
  `type_mouvement` enum('ENTREE','SORTIE') NOT NULL,
  `quantite` decimal(10,2) NOT NULL,
  `date_mouvement` datetime DEFAULT CURRENT_TIMESTAMP,
  `user_id` int DEFAULT NULL,
  `commentaire` varchar(255) DEFAULT NULL,
  `commande_achat_id` int DEFAULT NULL,
  `affaire_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_article_date` (`article_id`,`date_mouvement`),
  KEY `idx_type` (`type_mouvement`),
  KEY `idx_mvt_article` (`article_id`),
  KEY `idx_mvt_date` (`date_mouvement`),
  KEY `finition_id` (`finition_id`),
  KEY `fk_stocks_affaire` (`affaire_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_commande_achat_id` (`commande_achat_id`),
  CONSTRAINT `fk_stocks_affaire` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_stocks_article` FOREIGN KEY (`article_id`) REFERENCES `articles` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `stocks_mouvements_ibfk_1` FOREIGN KEY (`finition_id`) REFERENCES `finitions` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stocks_mouvements`
--

LOCK TABLES `stocks_mouvements` WRITE;
/*!40000 ALTER TABLE `stocks_mouvements` DISABLE KEYS */;
INSERT INTO `stocks_mouvements` VALUES (1,2,NULL,'ENTREE',10.00,'2025-12-25 02:11:59',1,'Test initial',NULL,NULL),(2,1,NULL,'SORTIE',10.00,'2025-12-25 02:28:27',1,'livraison',NULL,NULL),(3,12,NULL,'ENTREE',5.00,'2026-01-02 14:59:14',1,'',NULL,NULL);
/*!40000 ALTER TABLE `stocks_mouvements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_items`
--

DROP TABLE IF EXISTS `task_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `task_id` int NOT NULL,
  `content` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_completed` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `task_id` (`task_id`),
  CONSTRAINT `task_items_ibfk_1` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_items`
--

LOCK TABLES `task_items` WRITE;
/*!40000 ALTER TABLE `task_items` DISABLE KEYS */;
INSERT INTO `task_items` VALUES (1,1,'reprendre etancheit├® cheneau',1),(2,1,'silicone sous chassis',0),(6,4,'V├®rifier le bandeau d\'en-t├¬te',0),(7,4,'Tester les filtres',0),(8,4,'Cliquer sur une t├óche pour voir les sous-t├óches',0),(9,1,'fg,,x',1),(10,5,'fnnx',1),(11,5,'gnxn',1),(12,5,'xfbgsdb',0),(13,6,'Etape 1',0);
/*!40000 ALTER TABLE `task_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tasks`
--

DROP TABLE IF EXISTS `tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `importance` enum('low','normal','high') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'normal',
  `status` enum('todo','done') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'todo',
  `due_date` date DEFAULT NULL,
  `affaire_id` int DEFAULT NULL,
  `commande_id` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user_status` (`user_id`,`status`),
  KEY `affaire_id` (`affaire_id`),
  KEY `commande_id` (`commande_id`),
  CONSTRAINT `tasks_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tasks_ibfk_2` FOREIGN KEY (`affaire_id`) REFERENCES `affaires` (`id`) ON DELETE SET NULL,
  CONSTRAINT `tasks_ibfk_3` FOREIGN KEY (`commande_id`) REFERENCES `commandes_achats` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks`
--

LOCK TABLES `tasks` WRITE;
/*!40000 ALTER TABLE `tasks` DISABLE KEYS */;
INSERT INTO `tasks` VALUES (1,1,'fuite','fuite veranda','high','todo',NULL,3,NULL,'2025-12-26 20:02:36'),(2,1,'SAV','reglage','high','done',NULL,1,NULL,'2025-12-27 00:54:01'),(4,1,'Test - V├®rifier interface','T├óche de test pour v├®rifier que l\'interface fonctionne correctement','high','done',NULL,NULL,NULL,'2025-12-27 03:00:59'),(5,1,'gfxnxn','xnhxnxfnwnwfn','high','todo',NULL,NULL,NULL,'2026-01-01 23:38:16'),(6,1,'Test Subtask','Desc','normal','todo',NULL,3,NULL,'2026-01-02 20:41:45'),(7,1,'Verification Task','','normal','todo',NULL,3,NULL,'2026-01-02 20:49:12');
/*!40000 ALTER TABLE `tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `identifiant` varchar(50) NOT NULL,
  `mot_de_passe_hash` varchar(255) NOT NULL,
  `nom_complet` varchar(100) DEFAULT NULL,
  `role` enum('ADMIN','ATELIER','POSEUR') NOT NULL DEFAULT 'ATELIER',
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `identifiant` (`identifiant`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
INSERT INTO `utilisateurs` VALUES (1,'admin','$2y$10$mDYqBVtQuqa.VX77pXD6h.K9V4QRXDqNEk2jICFqDvDrnx487Wj2i','Administrateur','ADMIN','2025-12-25 20:11:22');
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-02 21:12:31
